# Ambiente Virtual
env_bot/
venv/
.venv/
env/

# Chaves de API e Segredos
.env
.streamlit/secrets.toml

# Banco de Dados Vetorial — commitado para deploy funcionar
# vector_db/

# Arquivos do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos do Sistema
.DS_Store
Thumbs.db